{{#d-modal-body}}
  {{input
    value=(readonly filter)
    input=(action "onFilterChanged" value="target.value")
    class="filter"
    placeholderKey="discourse_post_event.invitees_modal.filter_placeholder"
  }}

  {{#conditional-loading-spinner condition=isLoading}}
    <ul class="invitees">
      {{#each invitees as |invitee|}}
        <li class="invitee">
          {{render-invitee invitee}}

          {{#if invitee.status}}
            <span class="status {{invitee.status}}">
              {{i18n (concat "discourse_post_event.models.invitee.status." invitee.status)}}
            </span>
          {{else}}
            <span class="status">
              -
            </span>
          {{/if}}

          {{#if model.can_act_on_discourse_post_event}}
            {{d-button
              icon="trash-alt"
              action=(action "removeInvitee" invitee)
            }}
          {{/if}}
        </li>
      {{/each}}
    </ul>
  {{/conditional-loading-spinner}}
{{/d-modal-body}}
