{{#d-modal-body
  title=(concat "event.ui_builder." modalTitle)
  class="event-ui-builder"
}}
  {{#conditional-loading-section isLoading=model.postEvent.isSaving}}
  <form>
    {{#event-field class="name" label="event.ui_builder.name.label"}}
      {{input
        value=(readonly model.postEvent.name)
        placeholderKey="event.ui_builder.name.placeholder"
        input=(action (mut model.postEvent.name) value="target.value")
      }}
    {{/event-field}}

    {{date-time-input-range
      from=startsAt
      to=endsAt
      onChange=(action "onChangeDates")
    }}

    {{#event-field label="event.ui_builder.status.label"}}
      <label class="radio-label">
        {{radio-button
          name="status"
          value="standalone"
          selection=model.postEvent.status
          onChange=(action (mut model.postEvent.status))
        }}
        <span class="message">
          <span class="title">{{i18n "event.post_event_status.standalone.title"}}</span>
          <span class="description">{{i18n "event.post_event_status.standalone.description"}}</span>
        </span>
      </label>

      <label class="radio-label">
        {{radio-button
          name="status"
          value="public"
          selection=model.postEvent.status
          onChange=(action (mut model.postEvent.status))
        }}
        <span class="message">
          <span class="title">{{i18n "event.post_event_status.public.title"}}</span>
          <span class="description">{{i18n "event.post_event_status.public.description"}}</span>
        </span>
      </label>
      <label class="radio-label">
        {{radio-button
          name="status"
          value="private"
          selection=model.postEvent.status
          onChange=(action (mut model.postEvent.status))
        }}
        <span class="message">
          <span class="title">{{i18n "event.post_event_status.private.title"}}</span>
          <span class="description">{{i18n "event.post_event_status.private.description"}}</span>
        </span>
      </label>
    {{/event-field}}

    {{#event-field enabled=allowsInvitees label="event.ui_builder.invitees.label"}}
      {{user-selector
        topicId=model.topicId
        single=false
        onChangeCallback=(action "setRawInvitees")
        fullWidthWrap=true
        allowAny=false
        includeMessageableGroups=true
        placeholderKey="composer.users_placeholder"
        tabindex="1"
        usernames=model.postEvent.raw_invitees
        hasGroups=true
        autocomplete="discourse"
        excludeCurrentUser=true
      }}
    {{/event-field}}

    {{#if inviteesOptions.length}}
      {{#event-field label="event.ui_builder.display_invitees.label"}}
        {{#each inviteesOptions as |option|}}
          <label class="radio-label">
            {{radio-button
              name="display_invitees"
              value=option.value
              selection=model.postEvent.display_invitees
              onChange=(action (mut model.postEvent.display_invitees))
            }}
            <span class="message">
              {{option.label}}
             </span>
          </label>
        {{/each}}
      {{/event-field}}
    {{/if}}
  </form>
  {{/conditional-loading-section}}
{{/d-modal-body}}


<div class="modal-footer">
  {{#if model.postEvent.isNew}}
    {{d-button
      type="button"
      class="btn-primary"
      label="event.ui_builder.create"
      icon="calendar-day"
      action=(action "createEvent")
    }}
  {{else}}
    {{d-button
      type="button"
      class="btn-primary"
      label="event.ui_builder.update"
      icon="calendar-day"
      action=(action "updateEvent")
    }}
  {{/if}}

  {{d-button
    icon="trash-alt"
    class="btn-danger"
    action="destroyPostEvent"
  }}
</div>
