
{{log 'outlet'}}
{{log @outletArgs}}
{{log 'outlet'}}

{{log @outletArgs.model}}   
{{log @outletArgs.target}}

<p>This is it</p>
 {{!-- <NavigationItem
        @content= {{hash }}
        @filterMode={{this.filterMode}}
        @category={{this.category}}
        @class={{concat "nav-item_" navItem.name}}
/> --}}
