<div class="control-group">
  <label class="control-label">{{i18n
      "discourse_calendar.region.title"
    }}</label>
  <div class="controls">
    <RegionInput
      @value={{this.model.custom_fields.holidays-region}}
      @allowNoneRegion={{true}}
      @onChange={{action "onChange"}}
    />
  </div>
  <DButton
    @icon="globe"
    @label="discourse_calendar.region.use_current_region"
    @action={{action "useCurrentRegion"}}
  />
</div>