<DModal
  @title={{i18n
    (concat
      "discourse_post_event.builder_modal."
      (if @model.event.isNew "create_event_title" "update_event_title")
    )
  }}
  class="discourse-post-event-builder"
  @closeModal={{@closeModal}}
  @flash={{this.flash}}
>
  <:body>
    <ConditionalLoadingSection @isLoading={{@model.event.isSaving}}>
      <form>
        <DateTimeInputRange
          @from={{startsAt}}
          @to={{endsAt}}
          @toTimeFirst={{true}}
          @clearable={{true}}
          @timezone={{@model.event.timezone}}
          @onChange={{fn @model.onChangeDates @model.event}}
        />

        <EventField
          @class="name"
          @label="discourse_post_event.builder_modal.name.label"
        >
          <Input
            @value={{readonly @model.event.name}}
            placeholder={{I18n
              "discourse_post_event.builder_modal.name.placeholder"
            }}
            {{on "input" this.setEventName}}
          />
        </EventField>

        <EventField
          @class="url"
          @label="discourse_post_event.builder_modal.url.label"
        >
          <Input
            @value={{readonly @model.event.url}}
            placeholder={{I18n
              "discourse_post_event.builder_modal.url.placeholder"
            }}
            {{on "input" this.setEventUrl}}
          />
        </EventField>

        <EventField
          @class="timezone"
          @label="discourse_post_event.builder_modal.timezone.label"
        >
          <TimezoneInput
            @value={{@model.event.timezone}}
            @onChange={{this.onChangeTimezone}}
            @class="input-xxlarge"
            @none="discourse_post_event.builder_modal.timezone.remove_timezone"
          />
        </EventField>

        <EventField @label="discourse_post_event.builder_modal.status.label">
          <label class="radio-label">
            <RadioButton
              @name="status"
              @value="public"
              @selection={{@model.event.status}}
              @onChange={{this.onChangeStatus}}
            />
            <span class="message">
              <span class="title">
                {{i18n "discourse_post_event.models.event.status.public.title"}}
              </span>
              <span class="description">
                {{i18n
                  "discourse_post_event.models.event.status.public.description"
                }}
              </span>
            </span>
          </label>
          <label class="radio-label">
            <RadioButton
              @name="status"
              @value="private"
              @selection={{@model.event.status}}
              @onChange={{this.onChangeStatus}}
            />
            <span class="message">
              <span class="title">
                {{i18n
                  "discourse_post_event.models.event.status.private.title"
                }}
              </span>
              <span class="description">
                {{i18n
                  "discourse_post_event.models.event.status.private.description"
                }}
              </span>
            </span>
          </label>
          <label class="radio-label">
            <RadioButton
              @name="status"
              @value="standalone"
              @selection={{@model.event.status}}
              @onChange={{this.onChangeStatus}}
            />
            <span class="message">
              <span class="title">
                {{i18n
                  "discourse_post_event.models.event.status.standalone.title"
                }}
              </span>
              <span class="description">
                {{i18n
                  "discourse_post_event.models.event.status.standalone.description"
                }}
              </span>
            </span>
          </label>
        </EventField>

        <EventField
          @enabled={{eq @model.event.status "private"}}
          @label="discourse_post_event.builder_modal.invitees.label"
        >
          <GroupSelector
            @fullWidthWrap={{true}}
            @groupFinder={{this.groupFinder}}
            @groupNames={{@model.event.raw_invitees}}
            @onChangeCallback={{this.setRawInvitees}}
            @placeholderKey="topic.invite_private.group_name"
          />
        </EventField>

        <EventField
          @class="reminders"
          @label="discourse_post_event.builder_modal.reminders.label"
        >
          <div class="reminders-list">
            {{#each @model.event.reminders as |reminder|}}
              <div class="reminder-item">
                <ComboBox
                  @class="reminder-type"
                  @value={{reminder.type}}
                  @nameProperty="name"
                  @valueProperty="value"
                  @content={{reminderTypes}}
                  @onChange={{mut reminder.type}}
                />

                <Input
                  class="reminder-value"
                  min={{0}}
                  @value={{readonly reminder.value}}
                  placeholder={{I18n
                    "discourse_post_event.builder_modal.name.placeholder"
                  }}
                  {{on "input" (fn this.setReminderValue reminder)}}
                />

                <ComboBox
                  @class="reminder-unit"
                  @value={{reminder.unit}}
                  @nameProperty="name"
                  @valueProperty="value"
                  @content={{this.reminderUnits}}
                  @onChange={{mut reminder.unit}}
                />

                <ComboBox
                  @class="reminder-period"
                  @value={{reminder.period}}
                  @nameProperty="name"
                  @valueProperty="value"
                  @content={{this.reminderPeriods}}
                  @onChange={{mut reminder.period}}
                />

                <DButton
                  class="remove-reminder"
                  @icon="times"
                  @action={{fn @model.removeReminder @model.event reminder}}
                  @disabled={{this.isLoadingReminders}}
                />

              </div>
            {{/each}}
          </div>

          <DButton
            class="add-reminder"
            @disabled={{this.addReminderDisabled}}
            @icon="plus"
            @label="discourse_post_event.builder_modal.add_reminder"
            @action={{fn @model.addReminder @model.event}}
          />
        </EventField>

        <EventField
          @class="recurrence"
          @label="discourse_post_event.builder_modal.recurrence.label"
        >
          <ComboBox
            @class="available-recurrences"
            @value={{readonly @model.event.recurrence}}
            @content={{this.availableRecurrences}}
            @onChange={{mut @model.event.recurrence}}
            @options={{hash
              none="discourse_post_event.builder_modal.recurrence.none"
            }}
          />
        </EventField>

        <EventField
          @class="minimal-event"
          @label="discourse_post_event.builder_modal.minimal.label"
        >
          <label class="checkbox-label">
            <Input @type="checkbox" @checked={{@model.event.minimal}} />
            <span class="message">
              {{i18n
                "discourse_post_event.builder_modal.minimal.checkbox_label"
              }}
            </span>
          </label>
        </EventField>

        {{#if this.allowedCustomFields.length}}
          <EventField
            @label="discourse_post_event.builder_modal.custom_fields.label"
          >
            <p class="event-field-description">
              {{i18n
                "discourse_post_event.builder_modal.custom_fields.description"
              }}
            </p>
            {{#each this.allowedCustomFields as |allowedCustomField|}}
              <span class="label custom-field-label">
                {{allowedCustomField}}
              </span>
              <Input
                class="custom-field-input"
                @value={{readonly
                  (get @model.event.custom_fields allowedCustomField)
                }}
                placeholder={{I18n
                  "discourse_post_event.builder_modal.custom_fields.placeholder"
                }}
                {{on "input" (fn this.setCustomField allowedCustomField)}}
              />
            {{/each}}
          </EventField>
        {{/if}}
      </form>
    </ConditionalLoadingSection>
  </:body>
  <:footer>
    {{#if @model.event.isNew}}
      <DButton
        @type="button"
        class="btn-primary"
        @label="discourse_post_event.builder_modal.create"
        @icon="calendar-day"
        @action={{this.createEvent}}
      />
    {{else}}
      <DButton
        @type="button"
        class="btn-primary"
        @label="discourse_post_event.builder_modal.update"
        @icon="calendar-day"
        @action={{this.updateEvent}}
      />

      <DButton
        @icon="trash-alt"
        class="btn-danger"
        @action={{this.destroyPostEvent}}
      />
    {{/if}}
  </:footer>
</DModal>