<DModalBody
  @title={{i18n
    concat
    "discourse_post_event.builder_modal."
    (if @model.event.isNew "create_event_title" "update_event_title")
  }}
  class="discourse-post-event-builder"
  @closeModal={{@closeModal}}
>
  <ConditionalLoadingSection @isLoading={{@model.eventModel.isSaving}}>
    <form>
      <DateTimeInputRange
        @from={{startsAt}}
        @to={{endsAt}}
        @toTimeFirst={{true}}
        @clearable={{true}}
        @timezone={{@model.eventModel.timezone}}
        @onChange={{action "onChangeDates"}}
      />

      <EventField
        @class="name"
        @label="discourse_post_event.builder_modal.name.label"
      >
        <Input
          @value={{readonly @model.eventModel.name}}
          placeholder={{I18n
            "discourse_post_event.builder_modal.name.placeholder"
          }}
          {{on
            "input"
            (action (mut @model.eventModel.name) value="target.value")
          }}
        />
      </EventField>

      <EventField
        @class="url"
        @label="discourse_post_event.builder_modal.url.label"
      >
        <Input
          @value={{readonly @model.eventModel.url}}
          placeholder={{I18n
            "discourse_post_event.builder_modal.url.placeholder"
          }}
          {{on
            "input"
            (action (mut @model.eventModel.url) value="target.value")
          }}
        />
      </EventField>

      <EventField
        @class="timezone"
        @label="discourse_post_event.builder_modal.timezone.label"
      >
        <TimezoneInput
          @value={{@model.eventModel.timezone}}
          @onChange={{action "onChangeTimezone"}}
          @class="input-xxlarge"
          @none="discourse_post_event.builder_modal.timezone.remove_timezone"
        />
      </EventField>

      <EventField @label="discourse_post_event.builder_modal.status.label">
        <label class="radio-label">
          <RadioButton
            @name="status"
            @value="public"
            @selection={{@model.eventModel.status}}
            @onChange={{action "onChangeStatus"}}
          />
          <span class="message">
            <span class="title">{{i18n
                "discourse_post_event.models.event.status.public.title"
              }}</span>
            <span class="description">{{i18n
                "discourse_post_event.models.event.status.public.description"
              }}</span>
          </span>
        </label>
        <label class="radio-label">
          <RadioButton
            @name="status"
            @value="private"
            @selection={{@model.eventModel.status}}
            @onChange={{action "onChangeStatus"}}
          />
          <span class="message">
            <span class="title">{{i18n
                "discourse_post_event.models.event.status.private.title"
              }}</span>
            <span class="description">{{i18n
                "discourse_post_event.models.event.status.private.description"
              }}</span>
          </span>
        </label>
        <label class="radio-label">
          <RadioButton
            @name="status"
            @value="standalone"
            @selection={{@model.eventModel.status}}
            @onChange={{action "onChangeStatus"}}
          />
          <span class="message">
            <span class="title">{{i18n
                "discourse_post_event.models.event.status.standalone.title"
              }}</span>
            <span class="description">{{i18n
                "discourse_post_event.models.event.status.standalone.description"
              }}</span>
          </span>
        </label>
      </EventField>

      <EventField
        @enabled={{eq @model.event.status "private"}}
        @label="discourse_post_event.builder_modal.invitees.label"
      >
        <GroupSelector
          @fullWidthWrap={{true}}
          @groupFinder={{groupFinder}}
          @groupNames={{@model.eventModel.raw_invitees}}
          @onChangeCallback={{action "setRawInvitees"}}
          @placeholderKey="topic.invite_private.group_name"
        />
      </EventField>

      <EventField
        @class="reminders"
        @label="discourse_post_event.builder_modal.reminders.label"
      >
        <div class="reminders-list">
          {{#each @model.eventModel.reminders as |reminder|}}
            <div class="reminder-item">
              <ComboBox
                @class="reminder-type"
                @value={{reminder.type}}
                @nameProperty="name"
                @valueProperty="value"
                @content={{reminderTypes}}
                @onChange={{action (mut reminder.type)}}
              />

              <Input
                class="reminder-value"
                min={{0}}
                @value={{readonly reminder.value}}
                placeholder={{I18n
                  "discourse_post_event.builder_modal.name.placeholder"
                }}
                {{on
                  "input"
                  (action (mut reminder.value) value="target.value")
                }}
              />

              <ComboBox
                @class="reminder-unit"
                @value={{reminder.unit}}
                @nameProperty="name"
                @valueProperty="value"
                @content={{reminderUnits}}
                @onChange={{action (mut reminder.unit)}}
              />

              <ComboBox
                @class="reminder-period"
                @value={{reminder.period}}
                @nameProperty="name"
                @valueProperty="value"
                @content={{reminderPeriods}}
                @onChange={{action (mut reminder.period)}}
              />

              <DButton
                class="remove-reminder"
                @icon="times"
                @action={{action "removeReminder" reminder}}
                @disabled="isLoadingReminders"
              />

            </div>
          {{/each}}
        </div>

        <DButton
          class="add-reminder"
          @disabled={{this.addReminderDisabled}}
          @icon="plus"
          @label="discourse_post_event.builder_modal.add_reminder"
          @action={{action "addReminder"}}
        />
      </EventField>

      <EventField
        @class="recurrence"
        @label="discourse_post_event.builder_modal.recurrence.label"
      >
        <ComboBox
          @class="available-recurrences"
          @value={{readonly @model.eventModel.recurrence}}
          @content={{availableRecurrences}}
          @onChange={{action (mut @model.eventModel.recurrence)}}
          @options={{hash
            none="discourse_post_event.builder_modal.recurrence.none"
          }}
        />
      </EventField>

      <EventField
        @class="minimal-event"
        @label="discourse_post_event.builder_modal.minimal.label"
      >
        <label class="checkbox-label">
          <Input @type="checkbox" @checked={{@model.eventModel.minimal}} />
          <span class="message">
            {{i18n "discourse_post_event.builder_modal.minimal.checkbox_label"}}
          </span>
        </label>
      </EventField>

      {{#if allowedCustomFields.length}}
        <EventField
          @label="discourse_post_event.builder_modal.custom_fields.label"
        >
          <p class="event-field-description">{{i18n
              "discourse_post_event.builder_modal.custom_fields.description"
            }}</p>
          {{#each allowedCustomFields as |allowedCustomField|}}
            <span class="label custom-field-label">{{allowedCustomField}}</span>
            <Input
              class="custom-field-input"
              @value={{readonly
                (get @model.eventModel.custom_fields allowedCustomField)
              }}
              placeholder={{I18n
                "discourse_post_event.builder_modal.custom_fields.placeholder"
              }}
              {{on "input" (action "onChangeCustomField" allowedCustomField)}}
            />
          {{/each}}
        </EventField>
      {{/if}}
    </form>
  </ConditionalLoadingSection>
</DModalBody>

<div class="modal-footer">
  {{#if @model.eventModel.isNew}}
    <DButton
      @type="button"
      class="btn-primary"
      @label="discourse_post_event.builder_modal.create"
      @icon="calendar-day"
      @action={{action "createEvent"}}
    />
  {{else}}
    <DButton
      @type="button"
      class="btn-primary"
      @label="discourse_post_event.builder_modal.update"
      @icon="calendar-day"
      @action={{action "updateEvent"}}
    />

    <DButton
      @icon="trash-alt"
      class="btn-danger"
      @action={{action "destroyPostEvent"}}
    />
  {{/if}}
</div>